.admin {
  background: #f1f1f1;
  min-height: 90vh;
  overflow-x: hidden;
}

.admin__buttons button {
  border: none;
  background: none;
  margin: 1rem 0;
}
.admin__buttons button:focus {
  outline: none;
  border: none;
}
